parameters:
    level: max
    paths:
        - src
        - config
    checkOctaneCompatibility: true
    checkModelProperties: true
    excludePaths: []
    ignoreErrors:
        -
            message: "#Called 'env' outside of the config directory#"
            path: config/*
